/* Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


/**/

.stripe-input {
  background: #f9fafb;
  border: 1px solid #d1d5db;
  padding: 12px 16px;
  border-radius: 6px;
  transition: border-color .2s, box-shadow .2s;
}

.stripe-input:focus-within {
  border-color: #2563eb;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, .3);
}
