/* Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


.my-overlay {
  @apply backdrop-blur-sm bg-black bg-opacity-40;
}


.no-padding-dialog {
  padding: 0 !important;
  border-radius: 0 !important;
}
