body,html{
  height:100%;
  margin:0;
  font-family: arial,sans-serif;
}

/*Left section*/

.logo-container{
  width: 300px;
  height: 240px;
  overflow: hidden;
}

.left-section{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  /*url('../assets/R.jpeg') no-repeat center center ;*/
  url('../assets/images/davido_1.jpg') no-repeat center top;
  background-size: cover;
  color: white;
  padding: 1rem 6rem 12rem 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
}


/*Right section*/

.light-black-border {
  border: 0.1px solid rgba(0, 0, 0, 0.1);
}
.right-section{
  background-color: #fff;
  padding: 6rem 5rem  ;
}

.btn-outline-light{
  border-color: white;
  color: white;
}

.btn-outline-light:hover{
  background-color: white;
  color: #000;
}

.payment-icons img:hover{
  transform: scale(1.1);
}

@media (max-width: 760px) {
  .left-section{
    text-align: center;
    padding: 2rem;
  }
}
