
/*Loading page*/
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 9999;

  display: flex;
  justify-content: center;  /* centre horizontalement */
  align-items: center;      /* centre verticalement */
}

.loading-content {
  display: flex;
  flex-direction: column;   /* empile verticalement */
  align-items: center;      /* centre horizontalement texte + image */
  gap: 1rem;                /* espace entre texte et image */
}

.loading-logo {
  width: 150px;
  height: auto;
}
